
/* ============img container============== */
div.img-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-around;
}

/* ============optional images============== */

img.view-img {
    cursor: pointer;
    width: 9rem;
    opacity: 0.8;
}

img.view-img:hover {
    opacity: 1;
}

@media screen and (max-width:576px) {
    img.view-img {
        width: 5rem;
    }
    
}
/* ============Main display image============== */

img.display-view-img {
    width: 30rem;
}

/* ============seleted Quantity Button============== */

.quantity-view-btn {
    padding: 0.8rem;
    background-color: black;
    color: white;
    font-size: 1.2rem;

}

/* ============Add to Bag button============== */

button.addtobag-view-btn {
    background-color: black;
    color: white;   
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    width: 100%;

}

/* ============Add to Wish List button============== */

button.wishlist-btn {
    border: 2px solid grey;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    width: 100%;
}
button.wishlist-btn:hover {
    background-color: black;
    color: white;
}