div.card-img {
    position: relative;
}
div.card-img img{
    width: 100%;
    cursor: pointer;

}

img.card-img-sec {
    display: none;
}

 /* ====== Column selection bars =======*/
div.select-grid-cols {
    padding: 0 ;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

 div.bars-wrapper {
    display: inline-block;
    border: 2px solid black;
    cursor: pointer;

}
div.bars-container {
    padding: 0.15rem;
    display: flex;
    gap:0.2rem;
    justify-content: center;
    align-items: center;
    
}
 .bar {
    height: 1.5rem;
    width: 0.8rem;
    background-color: black;
 }

 /* ====== wrapper that is mapping over shoeCard =======*/
 div.shoecard-wrapper-one {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
 } 

 div.shoecard-wrapper-two {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
 }
 div.shoecard-wrapper-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
 }
 div.shoecard-wrapper-four {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
 }

   /* ====== Grid for Mobile =======*/ 

 @media screen and (max-width:576px) {

    div.shoecard-wrapper-three, div.shoecard-wrapper-four {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
     }
    }
   /* ====== Mobile to PC Shifting =======*/ 
   @media screen and (min-width:576px) {

    div.shoecard-wrapper-one {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
     }
    }



  /* ====== Bars Wrapper in bars =======*/  

  div.bars-wrapper.one {
    display:none;
}
  @media screen and (max-width:567px) {
    div.bars-wrapper.one {
        display:block;

    
    }
    

}

@media screen and (max-width:567px) {
    div.bars-wrapper.four {
        display:none;
    }
    div.bars-wrapper.three {
        display:none;
    }
    

}

  /* ====== overlay is outermost div of shoecard =======*/  


  /* ====== Add to bag button =======*/
div.img-container {
    position: relative;
}

  div.addtobag-btn {
    height: 0px;
    overflow: hidden;
    position: absolute;
    bottom: 2rem;
    z-index: 1010;
    margin: auto;
    transition:height 0.5s ease;
}

div.card-img:hover div.addtobag-btn{
    height: 3rem;   
}
div.card-img:hover img{
    filter:opacity(70%)
}

.addtobag-icon {
    color: white;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    background-color: 	rgba(8,8,8,1);
    padding: 0.5rem;
}

.addtobag-icon:hover {
    background-color: rgba(32,32,32,0.9);

}
  /* ====== Add to bag component =======*/

div.addtobag-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(32, 38, 34, 0.7);
    z-index: 1200;

}
div.addtobag-card {
    background-color: white;
    position: relative;
    padding: 2rem 3rem;
    width: 30rem;
    height: 20rem;
}

@media screen and (max-width:576px) {
    div.addtobag-card {
        width: 95%;
        padding: 1rem 2rem;
        height: auto;

    }
    
}
button.addtobag-cencel {
    position: absolute; 
    padding: 0.5rem 0.8rem;
    color: white;
    font-size: 1.2rem;
    right:-1rem;
    top:-1rem;
}

button.selected-size-btn {
    border: 3px solid black;
}

div.fav-container {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}


.fav-icon {
    font-size: 1.8rem;
    color: gray
}

.fav-icon.select{
    color: red       ;
}
div.card-img:hover div.fav-container{
    opacity: 1;
}


