


/* =================div navbar==================== */
@media screen and (max-width:576px){
    div.navbar{
        display: none;
        
    }
 }
 div.navbar.mobile {
    position: fixed;
    display: block;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    width: auto;
    height: auto;
    background-color: rgba(32, 38, 34, 0.7);   
    z-index: 1050;
    
 }
 
  /* =================navbar ul==================== */

ul.navbar-ul.mobile {
    background-color: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    padding: 2rem;
}
ul.navbar-ul.mobile li {
    border-bottom: 2px solid black;
}

 /* =================navbar li==================== */

div.navbar.mobile li {
    display:block;
    
}
div.navbar.mobile a{
    display: block;
    padding: 0.5rem;
    
}






 /* ================ navbar-toggler ================ */

 @media screen and (max-width:576px) {
    .navbar-toggle {
        display:block;
        font-size: 1.4rem;
        margin: 0 0.4rem;
     }
    
 }
  .navbar-toggle.mobile {
    z-index: 1050;
    position: absolute;
    top: 1.4rem;
    right: 0.2rem;
    font-size: 1.4rem;
    margin: 0 0.4rem;
    background-color: red;
    padding: 0.1rem 0.5rem;
 }



